.accomodation-page {
    margin-left: 2em;
    margin-right: 2em;
}

.info {
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 1em;
    margin-bottom: 1em;
}

.info-left {
    color: #FF6060;
    margin-left: 1em; 
}

.info-left h1 {
    font-size: 1.8em; 
    font-weight: 500;
    margin-bottom: 0.2em;
}

.info-left p {
    font-size: 0.9em;
    margin-top: 0px;
    margin-bottom: 1.2em;
}

.info-right {
    margin-right: 1em; 
    display: flex; 
    flex-direction: column;
}
.info-owner {
    display: flex;
    width: 170px;
}

.info-owner p {
    color: #FF6060;
}

.owner {
    border-radius: 50%;
    width: 5em;
    height: 5em;
}

