.aboutus-container {
    margin-left: 2em;
    margin-right: 2em;
}
.aboutus-container > .banner {
    height: 36vh;   
}

.aboutus-container > .banner p {
    display: none;   
}
.dropdowns-aboutus {
    display: block;
}

.dropdowns-aboutus > * {
   margin: 2em 4em 2em 4em; 
   height: auto;
}

/* Media-queries*/
@media (max-width: 962px) {
    .aboutus-container >.banner {
        height: 30vh;
    }
    .dropdowns-aboutus > * {
        margin: 4em 0em 4em 0em; 
     }

}
@media (max-width: 480px) {
    .aboutus-container >.banner {
        height: 28vh;
    }
    .aboutus-container {
        margin-bottom: 4em;
    }
    .dropdowns-aboutus > * {
        margin: 2em 0em 2em 0em; 
     }
}

